.headerMenu{
	display:inline;
	background-color:green;
	height:57px;
	border-bottom:0px;
	padding-left:auto;
	padding-right:auto;
	width:100%;
}

#wrapper{
	display:inline;
	margin-right:auto;
	width:1350px;
	padding-bottom:0px;
	padding-top:0px; 
}


#menu a {
	display:inline;
	float:right;
	color:#FFFFFF;
	text-decoration: none;
	font-size: 14px;
	background-color:black;
	background-repeat: no-repeat;
	padding-top:19px;
	padding-bottom:22px;
	padding-left: 10px;
	padding-right: 10px;

}

#menu a:hover{
	background-color:red;
	background-repeat: no-repeat;

}

input[type="text"]{
	display:inline;
	background-color: #FFFFFF;
	border:1px solid #E2E2E2;
	font-size:15px;
	padding:5px;
	width:300px;
	margin-top:3px;
	margin-bottom: 3px;
	outline: none;
}

