* {
	margin:0px;
	padding:0px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}
#menu a {
	float:right;
	color:black;
	text-decoration: none;
	font-size: 14px;
	background-image:url(../img/menu.jpg);
	background-repeat: no-repeat;
	padding-top:19px;
	padding-bottom:22px;
	padding-left: 10px;
	padding-right: 10px;

}

#menu a:hover{
	background-color:white;
	background-repeat: no-repeat;

}
input[type="text"]{
	background-color: #FFFFFF;
	border:1px solid #E2E2E2;
	font-size:15px;
	padding:5px;
	width:300px;
	margin-top:3px;
	margin-bottom: 3px;
	outline: none;
}
input[type="email"]{
	background-color: #FFFFFF;
	border:1px solid #E2E2E2;
	font-size:15px;
	padding:5px;
	width:300px;
	margin-top:3px;
	margin-bottom: 3px;
	outline: none;
}
select{
	background-color: #FFFFFF;
	border:1px solid #E2E2E2;
	font-size:15px;
	padding:5px;
	width:300px;
	margin-top:3px;
	margin-bottom: 3px;
	outline: none;
}

input[type="password"]{
	background-color: #FFFFFF;
	border:1px solid #E2E2E2;
	font-size:15px;
	padding:5px;
	width:300px;
	margin-top:3px;
	margin-bottom: 3px;
	outline: none;
}

input[type="text"]:hover{
	border:1px solid #006FC4;
}
input[type="email"]:hover{
	border:1px solid #006FC4;
}

input[type="password"]:hover{
	border:1px solid #006FC4;
}

input[type="submit"]{
	background-color:#006FC4;
	border:1px solid #00508D;
	font-size:15px;
	color:#FFFFFF;
	padding:5px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius:7px;
}
input[type="button"]{
	background-color:#006FC4;
	border:1px solid #00508D;
	font-size:15px;
	color:#FFFFFF;
	padding:5px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius:7px;
}

h1{
	float:right;
	margin-right: 113px;
	margin-top: 13px;
	font-size:25px;
}
h2{
	font-size:20px;
	padding:10px;
}

a{
	font-size:20px
}